<!DOCTYPE html>
<html ng-app="ngBootstrapizeMaven">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular-Bootstrapized Maven Site</title>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/xcode.min.css">
    
    <!-- https://github.com/IanLunn/Hover -->
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <base href="/">
  </head>
  
  
  <body ng-controller="AppCtrl">
    
    
    <div ng-cloak class="container">
      <header class="project-header" ng-controller="MenuCtrl">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-md-offset-3 col-lg-offset-2 project-header-container">
            <form class="navbar-form pull-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="query"
                       ng-focus="searchFocus = true" ng-blur="hideSearchResults()">
              </div>
            </form>            

            <h1>
              <a href="/">
                <span ng-bind="title"></span>
              </a>
            </h1>
            <div ng-if="projectVersion" ng-bind="projectVersion"></div>
            <div ng-if="lastPublished" ng-bind="lastPublished"></div>
            <!-- ng-if="searchFocus && showSearchResults" -->
            <div class="search-results" 
                 ng-show="searchFocus && showSearchResults && searchResults.response.docs.length > 0">
              <ul class="list-group">
                <li href="#" class="list-group-item" ng-repeat="element in searchResults.response.docs">
                  <a ng-href="#/_views/repository/search.html?g={{ element.g }}&a={{ element.a }}" 
                     ng-bind="element.a"></a>
                  ::
                  <a ng-href="#/_views/repository/search.html?g={{ element.g }}" 
                     ng-bind="element.g"></a>
                  ::
                  <a ng-href="#/_views/repository/search.html?g={{ element.g }}&a={{ element.a }}&v={{ element.latestVersion }}" 
                     ng-bind="element.latestVersion"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    
    
    <div ng-cloak class="container page-presentation" ng-include="pagePresentation">
    </div>
    
    
    <footer ng-cloak ng-controller="FooterCtrl">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-9 col-md-offset-3 col-lg-offset-2" ng-bind-html="footerHtml">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-9 col-md-offset-3 col-lg-offset-2">
            <div class="pull-right">
              <a class="reports-link" href="#/_views/reports/reports-list.html">
                <i class="glyphicon glyphicon-cog"></i>
              </a>
            </div>
            
            <div>Theme created by <a href="mailto:marek.romanowski@gmail.com">Marek Romanowski</a></div>
            <div>Source code availible at <a href="https://github.com/tunguski/angular-boostrapize-maven-site">Angular-Bootstrapize Maven Site Project</a></div>
            <div>Copyright @ <a href="mailto:contact@matsuo.pl">Matsuo IT</a> 2015</div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="scroll-to-top" ng-click="scrollToTop()">
      <i class="glyphicon glyphicon-arrow-up"></i>
    </div>
    
    <!-- external libraries -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.0/angular.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.0/angular-sanitize.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="//rawgit.com/twbs/bootstrap/master/js/affix.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/highlight.js/8.4.0/languages/1c.min.js"></script>

    <!-- main -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/config.js"></script>

    <!-- services -->
    <script type="text/javascript" src="js/services/pageCache.js"></script>
    <script type="text/javascript" src="js/services/mvnLinker.js"></script>
    <script type="text/javascript" src="js/services/mvnRepository.js"></script>
    <script type="text/javascript" src="js/services/menuMemory.js"></script>
    <script type="text/javascript" src="js/services/siteScanner.js"></script>
    <script type="text/javascript" src="js/services/framedViewService.js"></script>
    
    <!-- views -->
    <script type="text/javascript" src="js/views/default.js"></script>
    <script type="text/javascript" src="js/views/fluido.js"></script>
    <script type="text/javascript" src="js/views/jxr.js"></script>
    <script type="text/javascript" src="js/views/javadoc.js"></script>

    <!-- repository -->
    <script type="text/javascript" src="js/repository/search.js"></script>
    
    <!-- reports -->
    <script type="text/javascript" src="js/reports/reports-list.js"></script>
    <script type="text/javascript" src="js/reports/linkage.js"></script>
    <script type="text/javascript" src="js/reports/site-map.js"></script>
    <script type="text/javascript" src="js/reports/class-references.js"></script>
  </body>
</html>