<div class="row" ng-controller="DefaultSitePageCtrl">
  <div class="col-lg-2 col-md-3 main-navigation" ng-controller="NaviCtrl">
    <div  data-spy="affix" data-offset-top="170"  data-offset="50">
      <div ng-repeat="element in elements" ng-bind-html="element" ng-show="visibility[$index]" 
           ng-click="toggleCollapse($index)">
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-9 main-body" ng-controller="ContentCtrl">
    <div ng-repeat="element in elements" ng-bind-html="element">
    </div>
  </div>

  <div class="col-lg-2 col-md-9 col-md-offset-3 col-lg-offset-0 download-navigation" 
       ng-controller="DownloadCtrl" ng-class="{ 'visible-lg-block': isMenu }">
    <div ng-repeat="element in elements" ng-class="{ collapsed: !visibility[$index] }" 
         ng-bind-html="element" ng-click="toggleCollapse($index, element)"></div>
  </div>
</div>
