<div class="row jxr-presentation" ng-controller="JxrCtrl">
  
  <div class="col-md-2 main-navigation">
    <div ng-controller="JxrOverviewCtrl" ng-show="elements">
      <h4 ng-click="page(packageListFrameUrl)">Overview</h4>
      <div ng-repeat="element in elements">
        <dynamic-element message="element"></dynamic-element>
      </div>
    </div>
    
    <div ng-controller="JxrAllClassesCtrl" ng-show="elements">
      <h4 ng-click="page(packageFrameUrl)">All Classes</h4>
      <div ng-repeat="element in elements">
        <dynamic-element message="element"></dynamic-element>
      </div>
    </div>
  </div>


  <div class="col-md-10 main-body" ng-controller="JxrSummaryCtrl">
    <h4>Summary</h4>
    <div ng-repeat="element in summary">
      <dynamic-element message="element"></dynamic-element>
    </div>
  </div>
</div>
